@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300;400;700&family=Inria+Sans:ital,wght@0,400;0,700;1,300&family=Inter:wght@300;700&family=Karantina:wght@300;400;700&display=swap');


//////////////////////////////////////
//              COLORS              //
//////////////////////////////////////

$beige:                 #a28f6a;
$deep-blue:             #171b24;
$riche-green:           #323d24;
$deep-green:            #292c1e;
$khaki-green:           #515e3c;

$noir:                  #000;
$blanche:               #fff;

$xiketic:               #0c0c16;
$crimson-ua:            #950f2b;
$flax:                  #eadb7c;
$carolina-blue:         #4ba0d4;
// $new-york-pink:         #de8682ff;
// $mauve-taupe:           #8d5c72ff;
// $space-cadet:           #1b1d3eff;

     // BG
$bg-body:               $xiketic;
$bg-navbar:             $crimson-ua;
$bg-card:               $crimson-ua;
$bg-btn-prm:            $carolina-blue;
$bg-btn-prm-hover:      darken($carolina-blue, 20%);
$bg-btn-sec:            transparent;
$bg-btn-sec-hover:      $carolina-blue;
        // Side
$bg-menu:               $deep-green;
// $bg-menu:               $riche-green;
$bg-menu-list:          $beige;
$bg-menu-item:          $riche-green;
// $bg-menu-item:          $deep-green;
$bg-menu-item-hover:    $khaki-green;
        // Map
$bg-map:                $deep-blue;



    // FONTS
$color-suptitle:        $flax;
$color-title:           $flax;
$color-text:            $blanche;
$color-text-dark:       $xiketic;

        // Nav-link
$color-navlink:         $blanche;
$color-navlink-hover:   $flax;
        // Btn
$color-btn-prm:         $blanche;
$color-btn-sec:         $carolina-blue;
$color-btn-sec-hover:   $blanche;
        // Arrow
$color-arrow:           $flax;
$color-arrow-hover:     darken($flax, 20%);
        // Other
$color-input:           $blanche;
$color-input-placeholder:darken($blanche, 30%);




//////////////////////////////////////
//              TEXT                //
//////////////////////////////////////

/*
font-family: 'Alumni Sans', sans-serif;
font-family: 'Inria Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Karantina', cursive;
*/

$font-suptitle:         'Inria Sans', sans-serif;
$font-title:            'Karantina', cursive;
$font-text:             'Alumni Sans', sans-serif;
$font-link:             'Inter', sans-serif;

    // SIZE
    
$text-base:             16px;    // 1rem
// Titles
$text-xl:               8rem;    // 128px 
$text-lg:               4rem;    // 64px
$text-md:               2rem;    // 32px
$text-sm:               1.5rem;  // 24px
$text-xs:               1rem;    // 16px

//////////////////////////////////////
//           SCREEN SIZE            //
//////////////////////////////////////

        // Small small screen / phone small
$screen-xs:             320px;
$screen-xs-min:         $screen-xs;             // 320px
$screen-phone:          $screen-xs-min;         // 320px
// $screen-xs-max:         $screen-sm-min - 1;   // 479px
        // Small screen / phone
$screen-sm:             480px;
$screen-sm-min:         $screen-sm;             // 480px
$screen-tablet:         $screen-sm-min;         // 480px
// $screen-sm-max:         ($screen-md-min - 1);   // 767px
        // Medium screen / tablet
$screen-md:             768px;
$screen-md-min:         $screen-md;             // 768px
$screen-desktop:        $screen-md-min;         // 768px
// $screen-md-max:         ($screen-lg-min - 1);   // 991px
        // Medium screen / desktop small
$screen-lg:             992px;
$screen-lg-min:         $screen-lg;             // 992px
$screen-desktop:        $screen-lg-min;         // 992px
// Large screen / desktop
$screen-xl:             1200px;
$screen-xl-min:         $screen-xl;             // 1200px
$screen-desktop:        $screen-xl-min;         // 1200px
        // Large screen / desktop wide
$screen-xxl:            1440px;
$screen-xxl-min:        $screen-xxl;            // 1440px
$screen-desktop-wide:   $screen-xxl-min;        // 1440px
